body{
    background-color: rgb(22, 131, 127);
}

.wrapper
{
    width: 50%;
    height: 70%;
    border: 3px solid;
    padding: 50px;
    margin: auto;
}

.chatazinas
{
    background-color: rgb(198, 215, 215);
    height: 70%;
    padding: 10px;
    color: rgb(28, 106, 106);
}

.vards
{
    width: 100%;
}